/* Recipe display. */

.container .row img {
  width: 60%; 
  max-width: 100%; 
  margin: 0 auto;
}

.font-bold {
  font-weight: bold;
}

.font-16 {
  font-size: 16pt;
}

.card {
  width: 100%;
  margin-bottom: 100px;
}

.card-img {
  width: 80%;
}

/* Mobile view (< 500px) */

@media only screen and (max-width: 500px) {
  .page-banner {
    display: inline;
    height: 130px;
    margin: 0 auto;
    padding-top: 25px;
  }

  .page-title {
    width: 50%;
    text-align: end;
  }

  .navbar {
    display: none;
  }

  .button-content {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-around;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .col-md-6 {
    width: 100%;
    margin-bottom: 10px;
  }

  .col-md-6.text-md-end {
    display: flex;
    justify-content: space-between;
  }

  .card {
    width: 100%;
    height: 100%;
  }

  .card-img {
    width: 100%;
  }

  .list-group-item {
    font-weight: bold;
  }

  .btn-toolbar {
    margin-bottom: 100px;
  }

  #back-button {
    display: none;
  }

  .back-button-mobile {
    display: block;
    float: left;
  }

  .fa-arrow-left {
    color: white;
  }
} 