/* Buttons */

.btn-ge-primary {
  background-color: #c1cacb;
}

/* Main content */

#mobilePageHeader {
  display: none;
}

.dropdown-menu {
  max-height: 280px;
  overflow-y: auto;
}

#add-ingredients {
  padding: 3px 9px 3px 9px;
}

.form-group label {
  font-weight: 600;
}

#add-ingredients-label {
  color: gray;
  font-size: smaller;
  font-weight: normal;
}

/* Mobile view (< 500px) */

@media only screen and (max-width: 500px) {
  .button-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #back-button {
    display: none;
  }

  .back-button-mobile {
    display: block;
    float: left;
  }

  .fa-arrow-left {
    color: white;
  }

  #mypageheader {
    display: none;
  }

  .d-flex {
    margin-bottom: 130px;
  }

  #submit {
    width: 100%;
  }

  #mobilePageHeader {
    display: block;
    margin-bottom: 16px;
  }
}