<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="../dashboard/dashboard.html">GrocerEase</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
    <span><i class="fa-solid fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <hr class="dropdown-divider">
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="../dashboard/dashboard.html"><span class="icon-space"><i class="fa-solid fa-house"></i></span>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../recipeMenu/recipeMenu.html"><span class="icon-space"><i class="fa-solid fa-book"></i></span>Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../eachGroceryList/eachGroceryList.html"><span class="icon-space"><i class="fa-solid fa-basket-shopping"></i></span>Grocery List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../fridge/fridge.html"><span class="icon-space"><i class="fa-regular fa-rectangle-list"></i></span>Fridge</a>
        </li>
        <li class="d-lg-none">
          <div class="d-block d-lg-flex ms-auto">
            <a id="logout-button" class="btn">Logout</a>
          </div>
        </li>   
      </ul>
    </div>
    <div class="d-none d-lg-block ms-auto"><!-- Visible on larger screens -->
      <a id="logout-button" class="btn">Logout</a>
    </div>
  </div>
</nav>

<!-- Mobile Bottom Navbar -->
<nav>
  <div class="small-navbar">
    <a href="../dashboard/dashboard.html"><i class="fas fa-house-user"></i></a>
    <a href="../recipeMenu/recipeMenu.html"><i class="fas fa-book"></i></a>
    <a href="../eachGroceryList/eachGroceryList.html"><i class="fas fa-shopping-basket"></i></a>
    <a href="../fridge/fridge.html"><img width="35" height="35" src="https://img.icons8.com/ios-filled/50/FFFFFF/fridge.png" alt="fridge"/></a>
    <button id="logout-button" class="btn" onclick="logout()">Logout</button>
  </div>  
</nav>

<!-- Mobile Page Banner -->
<div class="page-banner">
  <div class="button-content">
    <button type="button" class="btn btn-ge-primary back-button-mobile" onclick="returnBack()"><i class="fas fa-arrow-left"></i></button>
    <h1 class="page-title" id="pageTitle">GrocerEase</h1>
  </div>
</div>

