<nav class="navbar navbar-expand-lg navbar-light bg-success-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="home.html">GrocerEase</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li>
        <hr class="dropdown-divider" style="background-color: azure;">
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="home.html"><span class="icon-space"><i class="fa-solid fa-house"></i></span>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="recipeMenu.html"><span class="icon-space"><i class="fa-solid fa-book"></i></span>Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login.html"><span class="icon-space"><i class="fa-solid fa-basket-shopping"></i></span>Grocery List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login.html"><span class="icon-space"><i class="fa-regular fa-rectangle-list"></i></span>Fridge</a>
        <!-- <a class="nav-link" href="#"><span class="icon-space"><img width="18" height="18" src="https://img.icons8.com/ios-filled/50/fridge.png" alt="fridge"/></span>Fridge</a> -->
      </li>
    </ul>
    </div>
  </div>
</nav>