/* Recipe cards */

.container {
  margin-bottom: 130px !important;
}

.page-message {
  font-size: 1.3em;
  font-weight: lighter;
}

.card {
  width: 18rem;
  height: auto;
}

.card:hover  {
  border: 2px solid var(--primary-alternative);
}
.card-image {
  width: 262px;
  height: 175px;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
}

a.nostyle {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

/* Mobile view (< 500px) */

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

  .row{
    display: flex;
    width: 100%; 
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  .button-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  } 

  .col-md-6 {
    width: 50%;
  }

  .page-message {
    font-size: 11pt;
  }

  .card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .recipe-img {
    width: 30%;
    height: 70px;
  }

  .card-image {
    width: 100%;
    height: 100%;
  }

  .card-body {
    width: 70%;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .card-title {
    font-size: 13pt;
    font-weight: bold;
    margin: 0;
  }

  .card-time {
    font-size: 10pt;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .card-text {
    display: none;
  }

  .read-more-btn {
    display: none;
  }

  .material-icons {
    z-index: 0;
    float: right;
  }

  #recipes-go-here {
    justify-content: center;
    align-items: center;
  }

  #back-button {
    display: none;
  }

  .back-button-mobile {
    display: block;
    float: left;
  }

  .fa-arrow-left {
    color: white;
  }
}