@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Asap";
  font-weight: bold;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #86bbd8;
  --primary-alternative: #bada07;
  --darkest: #33658a;
  --secondary-color: #f4a615;
  --accent: white;
}

/* Navbar CSS. */

.small-navbar, .page-banner {
  display: none;
}

.navbar {
  z-index: 100;
  background-color: var(--primary-color);
  padding-left: 20px;
  padding-bottom: 6px;
}

.navbar-brand {
  font-style: italic;
  font-weight: bold;
  color: white;
}

.navbar-brand:hover,
.nav-link:hover {
  color: white;
}

.navbar-toggler {
  border: 1px solid white;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 1px white;
}

.fa-solid,
.fa-bars {
  color: white;
}

.nav-item:hover {
  font-weight: bold;
  transform: translateY(-2px);
}

.nav-link,
#logout-button {
  color: white;
}

.icon-space,
.d-lg-inline {
  display: none;
}

fa-house,
fa-book,
fa-basket-shopping,
fa-rectagle-list {
  display: inline;
  font-size: 1.5em;
}

.btn {
  border: 2px solid white;
}

.btn:hover {
  background-color: var(--primary-alternative);
}

.container.welcome-banner .row img {
  width: 60%;
  max-width: 100%;
  margin: 0 auto;
}

/* Footer CSS. */

.footer {
  width: 100%;
  position: relative;
  background-color: var(--primary-color);
  max-width: 100vw;
  padding: 70px;
  margin: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-col {
  width: 33%;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer ul li a {
  color: white;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  display: block;
  transition: all 0.3s ease;
}

.footer ul li a:hover {
  color: white;
  font-weight: bold;
  padding-left: 10px;
}

.footer .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}

.footer .social-links a:hover {
  background-color: #bada07;
}

.footer h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--primary-alternative);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

/* Navbar and content responsive for screens under 500px. */

@media only screen and (max-width: 500px) {
  html, body {
    font-size: 12px;
  }
  .page-banner {
    background: var(--primary-color);
    z-index: 100;
    position: fixed;
    display: inline;
    width: 100%;
    height: 130px;
    top: 0;
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
  }

  .page-banner:after {
    background: white;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -40px;
    height: 80px;
    width: 100%;
    border-radius: 40px 40px 0 0;
  }

  .page-title {
    color: white;
    font-size: 2em;
    font-weight: bold;
    width: 50%;
    margin: 0;
    padding-top: 0;
    text-align: end;
  }

  .navbar {
    display: none;
  }

  .small-navbar {
    z-index: 100;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #86bbd8;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px 40px 0 0;
  }

  .small-navbar a {
    color: white;
    z-index: 100;
    font-size: 2em;
    text-decoration: none;
  }

  #logout-button {
    display: none;
  }

  .footer {
    display: none;
  }

  .button-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #back-button {
    display: none;
  }

  .back-button-mobile {
    display: block;
    float: left;
  }

  .fa-arrow-left {
    color: white;
  }

  /* Styles specific to eachGroceryList only */

  .btn-container {
    margin-top: 150px !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .row {
    margin-bottom: 0 !important;
  }

  .col-md {
    width: 100%;
  }

  #addToFridge {
    display: block;
    width: 60%;
    margin-left: auto;
  }
}

/* Buttons CSS. */

#ingredients-go-here {
  display: block;
}
.gl-item-subtract-btn,
.gl-item-add-btn {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.list-group-item {
  padding: 5px;
  border-left: 0;
  border-right: 0;
}

.fa-check-square {
  color: var(--primary-alternative);
}

.h1 u {
  color: black;
  text-decoration: none;
}

.form-check-input:checked {
  background-color: var(--primary-alternative) !important;
}

/* #list1 .form-control {
  border-color: transparent;
}
#list1 .form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
#list1 .select-input.form-control[readonly]:not([disabled]) {
  background-color: #fbfbfb;
} */
