/* Grocery List content. */

#ingredients-go-here {
  display: block;
}

.gl-item-subtract-btn,
.gl-item-add-btn {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.list-group-item {
  padding: 5px;
  border-left: 0;
  border-right: 0;
}

.fa-check-square {
  color: var(--primary-alternative);
}

.h1 u {
  color: black;
  text-decoration: none;
}

.form-check-input:checked {
  background-color: var(--primary-alternative) !important;
}

#list1 {
  border-color: transparent;
  box-shadow: none;
}

#addToFridge {
  margin-top: 30px;
}

#content-container {
  margin-bottom: 100px;
  padding-left: 24px;
  padding-right: 24px;
}

/* Mobile view (< 500px) */

@media only screen and (max-width: 500px) {
  .button-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #back-button {
    display: none;
  }

  .back-button-mobile {
    display: block;
    float: left;
  }

  .fa-arrow-left {
    color: white;
  }

  .btn-container {
    margin-bottom: 24px !important;
  }

  #addToFridge {
    display: block;
    width: 100%;
    margin-left: auto;
  }

  .h1 {
    display: none;
  }
}
