/* Buttons */

.btn-ge-primary {
  background-color: #c1cacb;
}

/* Fridge cards */
.container {
  margin-bottom: 130px !important;
}

#mypageheader2 {
  font-size: 1.3rem;
}

.page-message {
  font-size: 1.3em;
  font-weight: lighter;
}

.card {
  width: 18rem;
  height: auto;
}

.card:hover  {
  border: 2px solid var(--primary-alternative);
}
.card-image {
  width: 262px;
  height: 175px;
  object-fit: cover;
}

.card-name {
  font-weight: bold;
  text-transform: capitalize;
}
  
.card-qty {
  color: gray;
  font-size: smaller;
}

.card-expiry {
  color: gray;
}

#times-symb {
  color: gray;
}

/* Mobile view (< 500px) */

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  
  #ingredients-container {
    padding: 0 !important;
  }
  
  .row{
    display: flex;
    width: 100%; 
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

 .button-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .col-md-6 {
    width: 50%;
  }

  .page-title {
    padding-left: 70px;
  }

  .page-message {
    font-size: 11pt;
  }

  .card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-body {
    width: 70%;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .card-name {
    font-size: 13pt;
    font-weight: bold;
    margin: 0;
  }

  .card-expiry {
    font-size: 10pt;
    margin-top: 5px;
    margin-bottom: 0;
  }

  #saved-recipes-go-here {
    justify-content: center;
    align-items: center;
  }

  #back-button {
    display: none;
  }

  .back-button-mobile {
    display: block;
    float: left;
  }

  .fa-arrow-left {
    color: white;
  }
} 

