/*--------------------
      Palette  
60-30-10 rule to harmonize colors
Primary (60%):
Secondary (30%):
Accent (10%):
Other: #c1cacb
---------------------*/

.welcome-banner img{
  display: inline;
  max-height: 500px;
  max-width: 300px;
  width: auto;
  /* justify-content: center; */
  padding: 0;
}

@media (max-width: 500px) {
  .welcome-banner img {
    display: none !important;
  }
}

.accent {
  color: #BADA07;
}

.btn-ge-primary {
  background-color: #c1cacb;
}

.btn-ge-primary:hover, .btn-ge-outline-secondary:hover {
  background-color: #BADA07;
}

.btn-ge-outline-secondary {
  border: 2px solid #c1cacb;
}